{% extends 'base.html' %}

{% block content %}
	<table>
		<tr><td>User Name</td>
	</table>
		<select>
		{% for user in all_users %}
			<option>{{ user.name  }}</option>
		{% endfor %}
		</select>
		<div class="btn-group" data-toggle="buttons-checkbox">
 		        <button type="button" class="btn btn-primary">Add User</button>
 		 	<button type="button" class="btn btn-primary">Edit User</button>
  			<button type="button" class="btn btn-primary">Delete User</button>
		</div>
<br><button type="button" class="btn btn-primary" data-loading-text="Finalizing...">Done</button></br>
{% endblock %}
